:root {
  --btn1-tf: cubic-bezier(0.19, 1, 0.22, 1);
  --btn2-tf: cubic-bezier(0.86, 0, 0.07, 1);
  --btn3-tf: cubic-bezier(0.23, 1, 0.32, 1);
  --btn4-tf: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  --btn5-tf: cubic-bezier(0.17, 0.84, 0.44, 1);
  --btns-bg-color: #1b1b1b;
  --btns-text-color: #fff;
}


.row {
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* Btns Style  */
.btns {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  cursor: pointer;
  background-color: var(--btns-bg-color);
  color: var(--btns-text-color);
  border: none;
  transition: all 640ms var(--btn1-tf);
  overflow: hidden;
  position: relative;
}

.btn_1:hover {
  color: var(--btns-bg-color);
  background-color: var(--btns-text-color);
  box-shadow: 3px 3px 0 var(--btns-bg-color);
  border: 1px solid var(--btns-bg-color);
  transition: all 640ms var(--btn1-tf);
}

/* Btn 2  */

.btn_2  span {
  width: 140px;
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-transform: capitalize;
  position: absolute;
  transform: translateX(-140px);
  color: var(--btns-bg-color);
  background-color: var(--btns-text-color);
  border-top: 1px solid var(--btns-bg-color);
  border-bottom: 1px solid var(--btns-bg-color);
  transition: all 600ms var(--btn2-tf);
}

.btn_2 span svg {
  width: 2rem;
  height: 2rem;
}

.btn_2:hover span {
  transform: translateX(0);
} 

/* Btn 3  */

.btn_3::after,
.btn_3::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--btns-bg-color);
  width: 1px;
  height: 0;
  transition: all 400ms var(--btn3-tf);
}

.btn_3::after {
  right: 0;
  bottom: 0;
}

.btn_3::before {
  left: 0;
  top: 0;
}

.btn_3 {
  background-color: #fff;
}

.btn_3--overlay {
  color: var(--btns-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.btn_3:hover::after,
.btn_3:hover::before {
  height: 100%;
}

.btn_3--overlay::after,
.btn_3--overlay::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--btns-bg-color);
  width: 0;
  height: 1px;
  transition: all 400ms var(--btn3-tf) 400ms;
}

.btn_3--overlay::after {
  right: 0;
  bottom: 0;
}

.btn_3--overlay::before {
  left: 0;
  top: 0;
}

.btn_3--overlay:hover::after,
.btn_3--overlay:hover::before {
  width: 100%;
}